<main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1" style="
    background: white;
">
      <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1" style="
    background: white;
">
      <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1" style="
    /* color: white; */
    background: white;
">
      <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1" style="
    background: white;
">
      <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1" style="background: white;">
      <link href="//cdn.shopify.com/s/files/1/0659/5444/7587/t/12/assets/customer.css?v=21612340484100376041663164175" rel="stylesheet" type="text/css" media="all">

<div class="customer login" style="
    border: 1px solid;
    margin-top: 90px;
    border-radius: 25px;
    background: white;
    margin-bottom: 80px;
">
  <h1 id="recover" tabindex="-1">
    Reset your password
  </h1>
  <div>
    <p>
      We will send you an email to reset your password
    </p><form method="post" action="/account/recover" accept-charset="UTF-8" onsubmit="window.Shopify.recaptchaV3.addToken(this, &quot;recover_customer_password&quot;); return false;"><input type="hidden" name="form_type" value="recover_customer_password"><input type="hidden" name="utf8" value="✓">
      <div class="field">
        <input type="email" value="" name="email" id="RecoverEmail" autocorrect="off" autocapitalize="off" autocomplete="email" placeholder="Email">
        <label for="RecoverEmail">
          Email
        </label>
      </div><button>
        Submit
      </button>

      <a href="#login">
        Cancel
      </a></form></div>

  <h3 id="login" tabindex="-1" style="font-size: 45px;">
    Login
  </h3>
  <div><form method="post" action="/account/login" id="customer_login" accept-charset="UTF-8" novalidate="novalidate" onsubmit="window.Shopify.recaptchaV3.addToken(this, &quot;customer_login&quot;); return false;" style="
    margin-bottom: 70px;
"><input type="hidden" name="form_type" value="customer_login"><input type="hidden" name="utf8" value="✓"><div class="field">        
        <input type="email" name="customer[email]" id="CustomerEmail" autocomplete="email" autocorrect="off" autocapitalize="off" placeholder="Email" style="
">
        <label for="CustomerEmail">
          Email
        </label>
      </div><div class="field">          
          <input type="password" value="" name="customer[password]" id="CustomerPassword" autocomplete="current-password" placeholder="Password">
          <label for="CustomerPassword">
            Password
          </label>
        </div>

        <a href="#recover">
          Forgot your password?
        </a><button style="
    color: white;
    background: #ec3939;
    width: -webkit-fill-available;
">Log in</button>

      <a class="MuiButtonBase-root MuiButton-root MuiButton-outlined MuiButton-outlinedBlack MuiButton-sizeMedium MuiButton-outlinedSizeMedium MuiButton-disableElevation MuiButton-fullWidth css-1j3a5zh" tabindex="0" href="https://best-image-corner.myshopify.com/account/register" data-test-id="create-user-btn" style="
    background: azure;
">Create your account<span class="MuiTouchRipple-root css-w0pj6f"></span></a></form></div></div>

    </main>
    </main>
    </main>
    </main>
    </main>
    </main>