<div class="jss9 jss68 jss79 utility-bar-global-styles">
    <div class="MuiTabs-root MuiTabs-vertical" id="primaryNavItems" data-automation="utility-bar_primary-nav">
        <div class="MuiTabs-scroller jss71 MuiTabs-fixed" style="overflow:hidden">
        
            <div class="MuiTabs-flexContainer jss72 MuiTabs-flexContainerVertical" role="tablist"><a
                    class="MuiButtonBase-root MuiTab-root MuiTab-textColorInherit jss73 jss74 Mui-selected jss78 MuiTab-labelIcon jss43 jss44"
                    role="tab" tabindex="0" aria-disabled="false" aria-selected="true"
                    data-automation="utility-bar_home" data-optimize="UtilityBar_HomeTab" href="/"><span
                        class="MuiTab-wrapper"><svg class="MuiSvgIcon-root jss76" focusable="false" viewBox="0 0 32 32"
                            aria-hidden="true" width="32" height="">
                            <path
                                d="M16 3.333l-12 12V30h10.667V19.333h2.667V30h10.667V15.333l-12-12zm9.333 24H20V16.666h-8v10.667H6.667V16.4L16 7.067l9.333 9.333v10.933z">
                            </path>
                        </svg>
                        <p class="MuiTypography-root jss81 MuiTypography-body1"><a href="https://best-image-corner.myshopify.com/">Home</a>
                        </p>
                    </span><span class="MuiTouchRipple-root"></span></a><a
                    class="MuiButtonBase-root MuiTab-root MuiTab-textColorInherit jss73 jss74 MuiTab-labelIcon jss43 jss44"
                    role="tab" tabindex="-1" aria-disabled="false" aria-selected="false"
                    data-automation="utility-bar_catalog" data-optimize="UtilityBar_CatalogTab" href="/catalog"><span
                        class="MuiTab-wrapper"><svg class="MuiSvgIcon-root jss76" focusable="false" viewBox="0 0 24 24"
                            aria-hidden="true" width="24" height="24">
                            <g>
                                <path
                                    d="M19.8,3H4.2L2,12.8L2,21h20v-8L19.8,3z M18.2,5l1.6,7.1H4.2L5.8,5H18.2z M4,19v-5h16v5H4z">
                                </path>
                                <rect x="7" y="9" width="10" height="2"></rect>
                                <rect x="8" y="6" width="8" height="2"></rect>
                            </g>
                        </svg>
                        <p class="MuiTypography-root jss81 MuiTypography-body1"><a href="https://best-image-corner.myshopify.com/collections">Collections</a></p>
                    </span><span class="MuiTouchRipple-root"></span></a><a
                    class="MuiButtonBase-root MuiTab-root MuiTab-textColorInherit jss73 jss74 MuiTab-labelIcon jss43 jss44"
                    role="tab" tabindex="-1" aria-disabled="false" aria-selected="false"
                    data-automation="utility-bar_create" data-tour-stop="utility-bar-create" href="/create/home"><span
                        class="MuiTab-wrapper"><svg class="MuiSvgIcon-root jss76" focusable="false" viewBox="0 0 32 32"
                            aria-hidden="true" width="32" height="32">
                            <path
                                d="M5.333 5.333h8V2.666H2.666v10.667h2.667v-8zM26.667 18.667V24c0 1.473-1.194 2.667-2.667 2.667h-5.333v2.667H24c2.946 0 5.333-2.388 5.333-5.333v-5.333zM8.12 20.12l-2.8 6.533 6.56-2.733-3.76-3.8zM22.716 5.515l3.771 3.771-13.199 13.199-3.771-3.771L22.716 5.515z">
                            </path>
                        </svg>
                        <p class="MuiTypography-root jss81 MuiTypography-body1"><a href="https://best-image-corner.myshopify.com/account/login">Create</a></p>
                    </span><span class="MuiTouchRipple-root"></span></a><a
                    class="MuiButtonBase-root MuiTab-root MuiTab-textColorInherit jss73 jss74 MuiTab-labelIcon jss43 jss44"
                    role="tab" tabindex="-1" aria-disabled="false" aria-selected="false"
                    data-automation="utility-bar_predict" href="/predict"><span class="MuiTab-wrapper"><svg
                            class="MuiSvgIcon-root jss76" focusable="false" viewBox="-2 0 24 24" aria-hidden="true"
                            width="23" height="24">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M18 2H2V18H16C17.1046 18 18 17.1046 18 16V2ZM0 0V20H16C18.2091 20 20 18.2091 20 16V0H0Z"
                                stroke="none"></path>
                            <rect x="11" y="4" width="23" height="5" stroke="none"></rect>
                            <rect x="4" y="4" width="23" height="5" stroke="none"></rect>
                            <rect x="11" y="11" width="23" height="5" stroke="none"></rect>
                    </svg>


                    </span><span class="MuiTouchRipple-root"></span></button></div><span
                class="jss82 jss84 MuiTabs-indicator jss70 jss85" style="top: 0px; height: 0px;"></span>
        </div>
    </div>
        
            <div class="MuiTabs-flexContainer jss72 MuiTabs-flexContainerVertical" role="tablist"><a
                    class="MuiButtonBase-root MuiTab-root MuiTab-textColorInherit jss73 jss74 MuiTab-labelIcon jss43 jss44"
                    href="/help" role="tab" tabindex="-1" aria-disabled="false" aria-selected="false"
                    data-automation="utility-bar_help" data-optimize="UtilityBar_HelpTab"
                    rel="noopener noreferrer"><span class="MuiTab-wrapper"><svg class="MuiSvgIcon-root jss76"
                            focusable="false" viewBox="0 0 0 0" aria-hidden="true" width="23" height="0">
                            <path
                                d="M16 8.667c-2.933 0-5.333 2.4-5.333 5.333h2.667c0-1.467 1.2-2.667 2.667-2.667s2.667 1.2 2.667 2.667-1.2 2.667-2.667 2.667h-1.333v4h2.667V19.2c2.267-.533 4-2.667 4-5.2 0-2.933-2.4-5.333-5.333-5.333zm-1.333 16h2.667V22h-2.667v2.667zM16 3.333c-7.333 0-13.333 6-13.333 13.333s6 13.333 13.333 13.333 13.333-6 13.333-13.333S23.333 3.333 16 3.333zm0 24c-5.867 0-10.667-4.8-10.667-10.667S10.133 5.999 16 5.999s10.667 4.8 10.667 10.667S21.867 27.333 16 27.333z">
                            </path>
                        </svg>
                        <p class="MuiTypography-root jss81 MuiTypography-body1"><a href="https://best-image-corner.myshopify.com/pages/contact">Help</a></p>
                    </span><span class="MuiTouchRipple-root"></span></a></div><span
                class="jss82 jss84 MuiTabs-indicator jss70 jss85" style="top: 0px; height: 0px;"></span>      
        </div>
    </div>
</div>