<div id="shopify-section-custiom-header" class="shopify-section">
  <div class="MuiContainer-root jss7 MuiContainer-disableGutters">
    <div class="MuiBox-root jss67">
      <div class="jss9 jss68 jss79 utility-bar-global-styles">
        <div class="MuiTabs-root MuiTabs-vertical" id="primaryNavItems" data-automation="utility-bar_primary-nav">
          <div class="MuiTabs-scroller jss71 MuiTabs-fixed" style="overflow:hidden">
            <div class="MuiTabs-flexContainer jss72 MuiTabs-flexContainerVertical" role="tablist"><a
                class="MuiButtonBase-root MuiTab-root MuiTab-textColorInherit jss73 jss74 Mui-selected jss78 MuiTab-labelIcon jss43 jss44"
                role="tab" tabindex="0" aria-disabled="false" aria-selected="true" data-automation="utility-bar_home"
                data-optimize="UtilityBar_HomeTab" href="/"><span class="MuiTab-wrapper"><svg
                    class="MuiSvgIcon-root jss76" focusable="false" viewBox="0 0 32 32" aria-hidden="true" width="32"
                    height="32">
                    <path
                      d="M16 3.333l-12 12V30h10.667V19.333h2.667V30h10.667V15.333l-12-12zm9.333 24H20V16.666h-8v10.667H6.667V16.4L16 7.067l9.333 9.333v10.933z">
                    </path>
                  </svg>
                  <p class="MuiTypography-root jss81 MuiTypography-body1">Home</p>
                </span><span class="MuiTouchRipple-root"></span></a><a
                class="MuiButtonBase-root MuiTab-root MuiTab-textColorInherit jss73 jss74 MuiTab-labelIcon jss43 jss44"
                role="tab" tabindex="-1" aria-disabled="false" aria-selected="false"
                data-automation="utility-bar_catalog" data-optimize="UtilityBar_CatalogTab" href="/catalog"><span
                  class="MuiTab-wrapper"><svg class="MuiSvgIcon-root jss76" focusable="false" viewBox="0 0 24 24"
                    aria-hidden="true" width="24" height="24">
                    <g>
                      <path d="M19.8,3H4.2L2,12.8L2,21h20v-8L19.8,3z M18.2,5l1.6,7.1H4.2L5.8,5H18.2z M4,19v-5h16v5H4z">
                      </path>
                      <rect x="7" y="9" width="10" height="2"></rect>
                      <rect x="8" y="6" width="8" height="2"></rect>
                    </g>
                  </svg>
                  <p class="MuiTypography-root jss81 MuiTypography-body1">Catalog</p>
                </span><span class="MuiTouchRipple-root"></span></a><a
                class="MuiButtonBase-root MuiTab-root MuiTab-textColorInherit jss73 jss74 MuiTab-labelIcon jss43 jss44"
                role="tab" tabindex="-1" aria-disabled="false" aria-selected="false"
                data-automation="utility-bar_create" data-tour-stop="utility-bar-create" href="/create/home"><span
                  class="MuiTab-wrapper"><svg class="MuiSvgIcon-root jss76" focusable="false" viewBox="0 0 32 32"
                    aria-hidden="true" width="32" height="32">
                    <path
                      d="M5.333 5.333h8V2.666H2.666v10.667h2.667v-8zM26.667 18.667V24c0 1.473-1.194 2.667-2.667 2.667h-5.333v2.667H24c2.946 0 5.333-2.388 5.333-5.333v-5.333zM8.12 20.12l-2.8 6.533 6.56-2.733-3.76-3.8zM22.716 5.515l3.771 3.771-13.199 13.199-3.771-3.771L22.716 5.515z">
                    </path>
                  </svg>
                  <p class="MuiTypography-root jss81 MuiTypography-body1">Create</p>
                </span><span class="MuiTouchRipple-root"></span></a><a
                class="MuiButtonBase-root MuiTab-root MuiTab-textColorInherit jss73 jss74 MuiTab-labelIcon jss43 jss44"
                role="tab" tabindex="-1" aria-disabled="false" aria-selected="false"
                data-automation="utility-bar_predict" href="/predict"><span class="MuiTab-wrapper"><svg
                    class="MuiSvgIcon-root jss76" focusable="false" viewBox="-2 0 24 24" aria-hidden="true" width="24"
                    height="24">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M18 2H2V18H16C17.1046 18 18 17.1046 18 16V2ZM0 0V20H16C18.2091 20 20 18.2091 20 16V0H0Z"
                      stroke="none"></path>
                    <rect x="11" y="4" width="5" height="5" stroke="none"></rect>
                    <rect x="4" y="4" width="5" height="5" stroke="none"></rect>
                    <rect x="11" y="11" width="5" height="5" stroke="none"></rect>
                  </svg>
                  <p class="MuiTypography-root jss81 MuiTypography-body1">Predict</p>
                </span><span class="MuiTouchRipple-root"></span></a><a
                class="MuiButtonBase-root MuiTab-root MuiTab-textColorInherit jss73 jss74 MuiTab-labelIcon jss43 jss44"
                role="tab" tabindex="-1" aria-disabled="false" aria-selected="false"
                data-automation="utility-bar_planning" href="/planning"><span class="MuiTab-wrapper"><svg
                    class="MuiSvgIcon-root jss76" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                    <path
                      d="M18 3c0-.6-.5-1-1-1s-1 .4-1 1H8c0-.6-.5-1-1-1s-1 .4-1 1H2v18h15c2.8 0 5-2.2 5-5V3h-4zm-.9 15.9v-1.8h2.6c-.4 1-1.5 1.7-2.6 1.8zm2.8-4H15v3.9H4.1V11h15.8v3.9zm0-5.9H4.1V5.1h1.8v.8C5.9 6.5 6.4 7 7 7s1.1-.5 1.1-1.1v-.8H16v.8c-.1.6.4 1.1 1 1.1s1.1-.5 1.1-1.1v-.8h1.8V9z">
                    </path>
                  </svg>
                  <p class="MuiTypography-root jss81 MuiTypography-body1">Plan</p>
                </span><span class="MuiTouchRipple-root"></span></a><button
                class="MuiButtonBase-root MuiTab-root MuiTab-textColorInherit jss73 jss75 MuiTab-labelIcon"
                tabindex="-1" type="button" role="tab" aria-selected="false" data-automation="utility-bar_menu"><span
                  class="MuiTab-wrapper"><svg class="MuiSvgIcon-root jss76" focusable="false" viewBox="0 0 32 32"
                    aria-hidden="true">
                    <path
                      d="M5.333 15.333h21.333V18H5.333v-2.667zm0-6.666h21.333v2.667H5.333V8.667zm0 13.333h21.333v2.667H5.333V22z">
                    </path>
                  </svg>
                  <p class="MuiTypography-root jss81 MuiTypography-body1">Menu</p>
                </span><span class="MuiTouchRipple-root"></span></button></div><span
              class="jss82 jss84 MuiTabs-indicator jss70 jss85" style="top: 0px; height: 48px;"></span>
          </div>
        </div>
        <div class="MuiTabs-root jss69 jss80 MuiTabs-vertical">
          <div class="MuiTabs-scroller jss71 MuiTabs-fixed" style="overflow:hidden">
            <div class="MuiTabs-flexContainer jss72 MuiTabs-flexContainerVertical" role="tablist"><a
                class="MuiButtonBase-root MuiTab-root MuiTab-textColorInherit jss73 jss74 MuiTab-labelIcon jss43 jss44"
                href="/help" role="tab" tabindex="-1" aria-disabled="false" aria-selected="false"
                data-automation="utility-bar_help" data-optimize="UtilityBar_HelpTab" rel="noopener noreferrer"><span
                  class="MuiTab-wrapper"><svg class="MuiSvgIcon-root jss76" focusable="false" viewBox="0 0 32 32"
                    aria-hidden="true" width="32" height="32">
                    <path
                      d="M16 8.667c-2.933 0-5.333 2.4-5.333 5.333h2.667c0-1.467 1.2-2.667 2.667-2.667s2.667 1.2 2.667 2.667-1.2 2.667-2.667 2.667h-1.333v4h2.667V19.2c2.267-.533 4-2.667 4-5.2 0-2.933-2.4-5.333-5.333-5.333zm-1.333 16h2.667V22h-2.667v2.667zM16 3.333c-7.333 0-13.333 6-13.333 13.333s6 13.333 13.333 13.333 13.333-6 13.333-13.333S23.333 3.333 16 3.333zm0 24c-5.867 0-10.667-4.8-10.667-10.667S10.133 5.999 16 5.999s10.667 4.8 10.667 10.667S21.867 27.333 16 27.333z">
                    </path>
                  </svg>
                  <p class="MuiTypography-root jss81 MuiTypography-body1">Help</p>
                </span><span class="MuiTouchRipple-root"></span></a></div><span
              class="jss82 jss84 MuiTabs-indicator jss70 jss85" style="top: 0px; height: 0px;"></span>
          </div>
        </div>
      </div>
      <div class="MuiBox-root jss86">
        <div class="jss13">
          <div class="jss90 jss98">
            <div class="jss88 jss97">
              <picture data-optimize="hero-image"><source type="image/webp" srcset="//images.ctfassets.net/hrltx12pl8hq/01rJn4TormMsGQs1ZRIpzX/02e9885a9ae69312da844bc58eedced1/Artboard_Copy_22.png?fit=fill&amp;w=2560&amp;h=731&amp;fm=webp 1x, //images.ctfassets.net/hrltx12pl8hq/01rJn4TormMsGQs1ZRIpzX/02e9885a9ae69312da844bc58eedced1/Artboard_Copy_22.png?fit=fill&amp;w=3840&amp;h=1097&amp;fm=webp 2x" media="(min-width: 1921px)"><source type="image/webp" srcset="//images.ctfassets.net/hrltx12pl8hq/01rJn4TormMsGQs1ZRIpzX/02e9885a9ae69312da844bc58eedced1/Artboard_Copy_22.png?fit=fill&amp;w=2200&amp;h=688&amp;fm=webp 1x, //images.ctfassets.net/hrltx12pl8hq/01rJn4TormMsGQs1ZRIpzX/02e9885a9ae69312da844bc58eedced1/Artboard_Copy_22.png?fit=fill&amp;w=2880&amp;h=900&amp;fm=webp 2x" media="(min-width: 1281px)"><source type="image/webp" srcset="//images.ctfassets.net/hrltx12pl8hq/01rJn4TormMsGQs1ZRIpzX/02e9885a9ae69312da844bc58eedced1/Artboard_Copy_22.png?fit=fill&amp;w=1280&amp;h=500&amp;fm=webp 1x, //images.ctfassets.net/hrltx12pl8hq/01rJn4TormMsGQs1ZRIpzX/02e9885a9ae69312da844bc58eedced1/Artboard_Copy_22.png?fit=fill&amp;w=2560&amp;h=1000&amp;fm=webp 2x" media="(min-width: 1025px)"><source type="image/webp" srcset="//images.ctfassets.net/hrltx12pl8hq/01rJn4TormMsGQs1ZRIpzX/02e9885a9ae69312da844bc58eedced1/Artboard_Copy_22.png?fit=fill&amp;w=1024&amp;h=400&amp;fm=webp 1x, //images.ctfassets.net/hrltx12pl8hq/01rJn4TormMsGQs1ZRIpzX/02e9885a9ae69312da844bc58eedced1/Artboard_Copy_22.png?fit=fill&amp;w=1536&amp;h=600&amp;fm=webp 2x" media="(min-width: 601px)"><source type="image/webp" srcset="//images.ctfassets.net/hrltx12pl8hq/01rJn4TormMsGQs1ZRIpzX/02e9885a9ae69312da844bc58eedced1/Artboard_Copy_22.png?fit=fill&amp;w=600&amp;h=400&amp;fm=webp 1x, //images.ctfassets.net/hrltx12pl8hq/01rJn4TormMsGQs1ZRIpzX/02e9885a9ae69312da844bc58eedced1/Artboard_Copy_22.png?fit=fill&amp;w=900&amp;h=600&amp;fm=webp 2x"><source srcset="//images.ctfassets.net/hrltx12pl8hq/01rJn4TormMsGQs1ZRIpzX/02e9885a9ae69312da844bc58eedced1/Artboard_Copy_22.png?fit=fill&amp;w=2560&amp;h=731 1x, //images.ctfassets.net/hrltx12pl8hq/01rJn4TormMsGQs1ZRIpzX/02e9885a9ae69312da844bc58eedced1/Artboard_Copy_22.png?fit=fill&amp;w=3840&amp;h=1097 2x" media="(min-width: 1921px)"><source srcset="//images.ctfassets.net/hrltx12pl8hq/01rJn4TormMsGQs1ZRIpzX/02e9885a9ae69312da844bc58eedced1/Artboard_Copy_22.png?fit=fill&amp;w=2200&amp;h=688 1x, //images.ctfassets.net/hrltx12pl8hq/01rJn4TormMsGQs1ZRIpzX/02e9885a9ae69312da844bc58eedced1/Artboard_Copy_22.png?fit=fill&amp;w=2880&amp;h=900 2x" media="(min-width: 1281px)"><source srcset="//images.ctfassets.net/hrltx12pl8hq/01rJn4TormMsGQs1ZRIpzX/02e9885a9ae69312da844bc58eedced1/Artboard_Copy_22.png?fit=fill&amp;w=1280&amp;h=500 1x, //images.ctfassets.net/hrltx12pl8hq/01rJn4TormMsGQs1ZRIpzX/02e9885a9ae69312da844bc58eedced1/Artboard_Copy_22.png?fit=fill&amp;w=2560&amp;h=1000 2x" media="(min-width: 1025px)"><source srcset="//images.ctfassets.net/hrltx12pl8hq/01rJn4TormMsGQs1ZRIpzX/02e9885a9ae69312da844bc58eedced1/Artboard_Copy_22.png?fit=fill&amp;w=1024&amp;h=400 1x, //images.ctfassets.net/hrltx12pl8hq/01rJn4TormMsGQs1ZRIpzX/02e9885a9ae69312da844bc58eedced1/Artboard_Copy_22.png?fit=fill&amp;w=1536&amp;h=600 2x" media="(min-width: 601px)"><source srcset="//images.ctfassets.net/hrltx12pl8hq/01rJn4TormMsGQs1ZRIpzX/02e9885a9ae69312da844bc58eedced1/Artboard_Copy_22.png?fit=fill&amp;w=600&amp;h=400 1x, //images.ctfassets.net/hrltx12pl8hq/01rJn4TormMsGQs1ZRIpzX/02e9885a9ae69312da844bc58eedced1/Artboard_Copy_22.png?fit=fill&amp;w=900&amp;h=600 2x"><img loading="eager" src="//images.ctfassets.net/hrltx12pl8hq/01rJn4TormMsGQs1ZRIpzX/02e9885a9ae69312da844bc58eedced1/Artboard_Copy_22.png?fit=fill&amp;w=600&amp;h=400" alt="IHP Hero 6-6" class="jss99 jss89" width="600" height="400"></picture>
            </div>
            <div class="MuiContainer-root jss91 MuiContainer-maxWidthLg">
              <div class="jss101 jss110">
                <div class="jss100 jss109" style="min-height: 7rem; align-items: flex-end;">
                  <h1 class="MuiTypography-root-126 MuiTypography-h3-133 MuiTypography-colorPrimary-149"
                    data-optimize="cms-headline">Unleash your creativity with unrivaled images</h1>
                </div>
                <div class="MuiBox-root-124 jss125">
                  <h2 class="MuiTypography-root-126 MuiTypography-h6-136 MuiTypography-colorPrimary-149"
                    data-optimize="cms-sub-headline">
                    <div class="MuiBox-root-124 jss156">Add wonder to your stories with 400M+ photos, vectors, illustrations, and editorial images.</div>
                  </h2>
                </div>
              </div>
              <div class="jss108">
                <div class="MuiGrid-root jss157 MuiGrid-container">
                  <div class="MuiGrid-root jss162 MuiGrid-item MuiGrid-grid-xs-auto">
                    <div class="MuiInputBase-root MuiOutlinedInput-root jss168"
                      data-automation="dynamicSearchBarDropDown">
                      <div
                        class="MuiSelect-root MuiSelect-select jss165 jss166 MuiSelect-selectMenu MuiInputBase-input MuiOutlinedInput-input"
                        tabindex="0" role="button" aria-haspopup="listbox" aria-label="Image"><svg
                          class="MuiSvgIcon-root jss167 MuiSvgIcon-colorPrimary" focusable="false" viewBox="0 0 32 32"
                          aria-hidden="true">
                          <path
                            d="M10 15.333c1.067 0 2-.933 2-2s-.933-2-2-2-2 .933-2 2 .933 2 2 2zM2.667 6v21.333H24c2.933 0 5.333-2.4 5.333-5.333V6H2.666zm24 16c0 1.467-1.2 2.667-2.667 2.667H7.2l3.467-3.467 2.667 2.667 8-8 5.333 5.333v.8zm0-4.533l-5.333-5.333-8 8-2.667-2.667L5.334 22.8V8.667h21.333v8.8z">
                          </path>
                        </svg>
                        <div class="jss56">
                          <div class="MuiListItemText-root"><span
                              class="MuiTypography-root MuiListItemText-primary MuiTypography-body1 MuiTypography-displayBlock">Image</span>
                          </div>
                        </div>
                      </div><input value="image" aria-hidden="true" tabindex="-1" class="MuiSelect-nativeInput"><svg
                        class="MuiSvgIcon-root MuiSelect-icon jss167" focusable="false" viewBox="0 0 24 24"
                        aria-hidden="true">
                        <path d="M7 10l5 5 5-5z"></path>
                      </svg>
                      <fieldset aria-hidden="true" style="padding-left:8px"
                        class="jss172 MuiOutlinedInput-notchedOutline">
                        <legend class="jss173" style="width:0.01px"><span>&ZeroWidthSpace;</span></legend>
                      </fieldset>
                    </div>
                  </div>
                  <div class="MuiGrid-root jss158 MuiGrid-item MuiGrid-grid-xs-true">
                    <div class="jss163"></div>
                    <div class="MuiAutocomplete-root jss1053 jss1052 MuiAutocomplete-hasClearIcon" role="combobox"
                      aria-expanded="false">
                      <div class="MuiFormControl-root MuiTextField-root jss176 MuiFormControl-fullWidth">
                        <div
                          class="MuiInputBase-root MuiOutlinedInput-root jss177 jss182 MuiAutocomplete-inputRoot jss1056 MuiInputBase-fullWidth MuiInputBase-formControl MuiInputBase-adornedEnd MuiOutlinedInput-adornedEnd">
                          <input aria-invalid="false" autocomplete="off" placeholder="Search for images" type="search"
                            class="MuiInputBase-input MuiOutlinedInput-input jss181 jss178 MuiAutocomplete-input jss1055 MuiAutocomplete-inputFocused MuiInputBase-inputAdornedEnd MuiOutlinedInput-inputAdornedEnd MuiInputBase-inputTypeSearch"
                            aria-autocomplete="both" autocapitalize="none" spellcheck="false"
                            data-automation="SearchBar_Loaded" aria-label="Search for images" size="29"
                            data-optimize="search-bar-input" value="" id="mui-51526">
                          <fieldset aria-hidden="true" class="jss172 MuiOutlinedInput-notchedOutline jss179"
                            style="padding-left: 8px;">
                            <legend class="jss173" style="width: 0.01px;"><span>&ZeroWidthSpace;</span></legend>
                          </fieldset>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="MuiGrid-root jss160 MuiGrid-item" data-tour-stop="">
                    <div class="MuiBox-root jss339 jss334"><button class="MuiButtonBase-root MuiIconButton-root jss161"
                        tabindex="0" type="button" aria-label="Search by image" title="Search by image"><span
                          class="MuiIconButton-label"><svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 32 32"
                            aria-hidden="true">
                            <path
                              d="M26.667 21.333C26.667 22.8 25.467 24 24 24H5.333V12h5.333c.8 0 1.333-.533 1.333-1.333V8h4V5.333H9.332v4H2.665v17.333h21.333c2.933 0 5.333-2.4 5.333-5.333v-8h-2.667v8z">
                            </path>
                            <path
                              d="M10.667 17.333c0 2.933 2.4 5.333 5.333 5.333s5.333-2.4 5.333-5.333S18.933 12 16 12s-5.333 2.4-5.333 5.333zm8 0C18.667 18.8 17.467 20 16 20s-2.667-1.2-2.667-2.667 1.2-2.667 2.667-2.667 2.667 1.2 2.667 2.667zM25.333 5.333v-4h-2.667v4h-4V8h4v4h2.667V8h4V5.333z">
                            </path>
                          </svg></span><span class="MuiTouchRipple-root"></span></button></div>
                  </div>
                  <div class="MuiGrid-root MuiGrid-item"><button
                      class="MuiButtonBase-root MuiIconButton-root jss164 jss183 MuiIconButton-colorSecondary"
                      tabindex="0" type="button" aria-label="Search"><span class="MuiIconButton-label"><svg
                          class="MuiSvgIcon-root" focusable="false" viewBox="0 0 32 32" aria-hidden="true">
                          <path
                            d="M29.333 27.453l-7.587-7.587c1.399-1.787 2.243-4.067 2.243-6.544 0-5.891-4.776-10.667-10.667-10.667S2.655 7.431 2.655 13.322s4.776 10.667 10.667 10.667c2.477 0 4.757-.844 6.567-2.261l7.563 7.604zm-24-14.12c0-4.418 3.582-8 8-8s8 3.582 8 8-3.582 8-8 8-8-3.582-8-8z">
                          </path>
                        </svg></span><span class="MuiTouchRipple-root"></span></button></div>
                </div>
              </div>
              <div class="MuiBox-root-184 jss185">
                <div class="MuiBox-root-184 jss188">
                  <div class="jss187" data-automation="Hero_LinksList_Container"><a class="jss192 jss106 jss195 jss196"
                      data-optimize="cms-keywords" href="/search/aerial">
                      <div class="MuiButtonBase-root-227 MuiChip-root-198 jss189 jss107 MuiChip-clickable-202"
                        tabindex="-1" role="button"><svg class="MuiSvgIcon-root-228 MuiChip-icon-215 jss193"
                          focusable="false" viewBox="0 0 32 32" aria-hidden="true">
                          <path
                            d="M29.333 27.453l-7.587-7.587c1.399-1.787 2.243-4.067 2.243-6.544 0-5.891-4.776-10.667-10.667-10.667S2.655 7.431 2.655 13.322s4.776 10.667 10.667 10.667c2.477 0 4.757-.844 6.567-2.261l7.563 7.604zm-24-14.12c0-4.418 3.582-8 8-8s8 3.582 8 8-3.582 8-8 8-8-3.582-8-8z">
                          </path>
                        </svg><span class="MuiChip-label-219 jss191">Aerial</span><span
                          class="MuiTouchRipple-root-298"></span></div>
                    </a><a class="jss192 jss106 jss195 jss196" data-optimize="cms-keywords" href="/search/summer">
                      <div class="MuiButtonBase-root-227 MuiChip-root-198 jss189 jss107 MuiChip-clickable-202"
                        tabindex="-1" role="button"><svg class="MuiSvgIcon-root-228 MuiChip-icon-215 jss193"
                          focusable="false" viewBox="0 0 32 32" aria-hidden="true">
                          <path
                            d="M29.333 27.453l-7.587-7.587c1.399-1.787 2.243-4.067 2.243-6.544 0-5.891-4.776-10.667-10.667-10.667S2.655 7.431 2.655 13.322s4.776 10.667 10.667 10.667c2.477 0 4.757-.844 6.567-2.261l7.563 7.604zm-24-14.12c0-4.418 3.582-8 8-8s8 3.582 8 8-3.582 8-8 8-8-3.582-8-8z">
                          </path>
                        </svg><span class="MuiChip-label-219 jss191">Summer</span><span
                          class="MuiTouchRipple-root-298"></span></div>
                    </a><a class="jss192 jss106 jss195 jss196" data-optimize="cms-keywords" href="/search/dancing">
                      <div class="MuiButtonBase-root-227 MuiChip-root-198 jss189 jss107 MuiChip-clickable-202"
                        tabindex="-1" role="button"><svg class="MuiSvgIcon-root-228 MuiChip-icon-215 jss193"
                          focusable="false" viewBox="0 0 32 32" aria-hidden="true">
                          <path
                            d="M29.333 27.453l-7.587-7.587c1.399-1.787 2.243-4.067 2.243-6.544 0-5.891-4.776-10.667-10.667-10.667S2.655 7.431 2.655 13.322s4.776 10.667 10.667 10.667c2.477 0 4.757-.844 6.567-2.261l7.563 7.604zm-24-14.12c0-4.418 3.582-8 8-8s8 3.582 8 8-3.582 8-8 8-8-3.582-8-8z">
                          </path>
                        </svg><span class="MuiChip-label-219 jss191">Dancing</span><span
                          class="MuiTouchRipple-root-298"></span></div>
                    </a><a class="jss192 jss106 jss195 jss196" data-optimize="cms-keywords" href="/search/vector">
                      <div class="MuiButtonBase-root-227 MuiChip-root-198 jss189 jss107 MuiChip-clickable-202"
                        tabindex="-1" role="button"><svg class="MuiSvgIcon-root-228 MuiChip-icon-215 jss193"
                          focusable="false" viewBox="0 0 32 32" aria-hidden="true">
                          <path
                            d="M29.333 27.453l-7.587-7.587c1.399-1.787 2.243-4.067 2.243-6.544 0-5.891-4.776-10.667-10.667-10.667S2.655 7.431 2.655 13.322s4.776 10.667 10.667 10.667c2.477 0 4.757-.844 6.567-2.261l7.563 7.604zm-24-14.12c0-4.418 3.582-8 8-8s8 3.582 8 8-3.582 8-8 8-8-3.582-8-8z">
                          </path>
                        </svg><span class="MuiChip-label-219 jss191">Vector</span><span
                          class="MuiTouchRipple-root-298"></span></div>
                    </a><a class="jss192 jss106 jss195 jss196" data-optimize="cms-keywords" href="/search/community">
                      <div class="MuiButtonBase-root-227 MuiChip-root-198 jss189 jss107 MuiChip-clickable-202"
                        tabindex="-1" role="button"><svg class="MuiSvgIcon-root-228 MuiChip-icon-215 jss193"
                          focusable="false" viewBox="0 0 32 32" aria-hidden="true">
                          <path
                            d="M29.333 27.453l-7.587-7.587c1.399-1.787 2.243-4.067 2.243-6.544 0-5.891-4.776-10.667-10.667-10.667S2.655 7.431 2.655 13.322s4.776 10.667 10.667 10.667c2.477 0 4.757-.844 6.567-2.261l7.563 7.604zm-24-14.12c0-4.418 3.582-8 8-8s8 3.582 8 8-3.582 8-8 8-8-3.582-8-8z">
                          </path>
                        </svg><span class="MuiChip-label-219 jss191">Community</span><span
                          class="MuiTouchRipple-root-298"></span></div>
                    </a></div>
                </div>
              </div>
            </div>
            <div class="jss94">
              <div class="jss237">
                <div class="jss238"><svg class="MuiSvgIcon-root-311 MuiSvgIcon-colorPrimary-312" focusable="false"
                    viewBox="0 0 32 32" aria-hidden="true">
                    <path
                      d="M10 15.333c1.067 0 2-.933 2-2s-.933-2-2-2-2 .933-2 2 .933 2 2 2zM2.667 6v21.333H24c2.933 0 5.333-2.4 5.333-5.333V6H2.666zm24 16c0 1.467-1.2 2.667-2.667 2.667H7.2l3.467-3.467 2.667 2.667 8-8 5.333 5.333v.8zm0-4.533l-5.333-5.333-8 8-2.667-2.667L5.334 22.8V8.667h21.333v8.8z">
                    </path>
                  </svg></div>
                <div class="jss250">
                  <div class="jss252">
                    <p class="MuiTypography-root-256 jss251 MuiTypography-body2-257 MuiTypography-colorPrimary-279"><a
                        class="jss95 jss254 jss286 jss288 jss287" data-automation="AssetTitleLink"
                        data-optimize="hero-assetTitle"
                        href="/image-photo/beautiful-view-bahamas-islands-above-177597866">Beautiful view of
                        Bahamas...</a></p>
                  </div>
                  <div class="jss291"><span
                      class="MuiTypography-root-256 MuiTypography-caption-259 MuiTypography-colorPrimary-279">By <a
                        class="jss289 jss286 jss288 jss287" href="/g/AlexShalamov"
                        data-optimize="hero-assetAttribution">BlueOrange Studio</a></span></div><strong
                    role="none"></strong>
                </div>
              </div>
            </div>
            <div class="jss96"></div>
          </div>
          <div class="MuiBox-root jss871">
            <div class="MuiContainer-root jss845 MuiContainer-maxWidthLg">
              <div class="jss847"></div>
            </div>
            <div class="jss857">
              <div aria-hidden="true" role="img"
                style="background-image: url(&quot;https://www.shutterstock.com/create/assets/asset-gateway/template/previews/23640.png?width=700&quot;);">
              </div>
              <div aria-hidden="true" role="img"
                style="background-image: url(&quot;https://www.shutterstock.com/create/assets/asset-gateway/template/previews/23635.png?width=700&quot;);">
              </div>
              <div aria-hidden="true" role="img"
                style="background-image: url(&quot;https://www.shutterstock.com/create/assets/asset-gateway/template/previews/23634-0.png?width=700&quot;);">
              </div>
              <div aria-hidden="true" role="img"
                style="background-image: url(&quot;https://www.shutterstock.com/create/assets/asset-gateway/template/previews/23631-0.jpeg?width=700&quot;);">
              </div>
            </div>
          </div>
          <div class="MuiBox-root jss292">
            <div class="jss320 jss321">
              <div class="jss322 jss323" data-optimize="BackgroundContainer-0">
                <div class="MuiContainer-root MuiContainer-disableGutters MuiContainer-maxWidthLg">
                  <div class="MuiBox-root jss654" data-optimize="CmsSectionTitle-title"></div>
                </div>
              </div>
              <div class="jss322 jss324" data-optimize="BackgroundContainer-1">
                <div class="MuiContainer-root MuiContainer-disableGutters MuiContainer-maxWidthLg"
                  style="min-height: 0px;">
                  <div class="MuiGrid-root MuiGrid-container">
                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
                      <div class="MuiBox-root jss725" data-optimize="CmsTabTable-title"></div>
                    </div>
                    <div class="MuiGrid-root jss720 jss721 MuiGrid-item MuiGrid-grid-xs-12">
                      <div class="jss719">
                        <div class="MuiBox-root jss728 jss724">
                          <div class="MuiBox-root jss729 jss723"></div>
                        </div>
                      </div>
                      <div class="MuiBox-root jss736">
                        <div class="MuiTabs-root"></div>
                      </div>
                    </div>
                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
                      <div class="MuiBox-root jss737"></div>
                      <div class="MuiBox-root jss738" role="tabpanel" id="tab_panel_Most_Popular"
                        aria-labelledby="tab_Most Popular">
                        <div class="jss860">
                          <div class="jss862 jss866 jss870">
                            <div class="jss867"></div>
                          </div>
                          <div class="MuiContainer-root jss918 MuiContainer-maxWidthLg"></div>
                        </div>
                      </div>
                      <div class="MuiBox-root jss739" role="tabpanel" id="tab_panel_Handpicked_content"
                        aria-labelledby="tab_Handpicked content" hidden=""></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="jss322 jss325" data-optimize="BackgroundContainer-2">
                <div class="MuiContainer-root MuiContainer-disableGutters MuiContainer-maxWidthLg">
                  <div class="jss744">
                    <div class="jss740 jss742 jss745"><button
                        class="MuiButtonBase-root MuiPaginationItem-root jss891 jss894 MuiPaginationItem-page MuiPaginationItem-outlined Mui-disabled jss892 MuiPaginationItem-sizeLarge Mui-disabled"
                        tabindex="-1" type="button" disabled="" aria-label="Previous"><svg
                          class="MuiSvgIcon-root MuiPaginationItem-icon" focusable="false" viewBox="0 0 24 24"
                          aria-hidden="true">
                          <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                        </svg></button><button
                        class="MuiButtonBase-root MuiPaginationItem-root jss891 jss893 MuiPaginationItem-page MuiPaginationItem-outlined MuiPaginationItem-sizeLarge"
                        tabindex="0" type="button" aria-label="Next"><svg class="MuiSvgIcon-root MuiPaginationItem-icon"
                          focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                        </svg><span class="MuiTouchRipple-root"></span></button></div>
                  </div>
                </div>
              </div>
              <div class="jss322 jss327" data-optimize="BackgroundContainer-4">
                <div class="MuiContainer-root MuiContainer-disableGutters MuiContainer-maxWidthLg"></div>
              </div>
              <div class="jss322 jss328" data-optimize="BackgroundContainer-5">
                <div class="MuiBox-root jss329"></div>
              </div>
            </div>
          </div>
        </div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>